.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 444px;
  height: 621px;
}
.cement-bags-paper-sacks-isolat-icon,
.unsplashqawcifls1g4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  width: 444px;
  height: 319px;
}
.cement-bags-paper-sacks-isolat-icon {
  height: 51.37%;
  width: 100%;
  right: 0;
  bottom: 48.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 444px;
  height: 621px;
}
.sn-cu-lng {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  display: inline-block;
  width: 361px;
}
.h3 {
  font-weight: 300;
}
.h2 {
  position: absolute;
  top: 145px;
  left: 0;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 184px;
  font-family: var(--font-poppins);
}
.group-child6,
.group-child7,
.sn-cu-lng-bnh-thnh-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 388px;
  height: 181px;
}
.group-child6,
.group-child7 {
  width: 21.2px;
  height: 21px;
}
.group-child7 {
  left: 28.3px;
}
.group-child10,
.group-child8,
.group-child9,
.star-parent {
  position: absolute;
  top: 0;
  left: 56.5px;
  width: 21.2px;
  height: 21px;
}
.group-child10,
.group-child9,
.star-parent {
  left: 84.8px;
}
.group-child10,
.star-parent {
  left: 113px;
}
.star-parent {
  top: 196px;
  left: 0.2px;
  width: 134.2px;
}
.booking-now1 {
  position: absolute;
  width: 73.09%;
  top: 23.33%;
  left: 13.73%;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 25.1%;
  width: 51.24%;
  top: 74.9%;
  right: 0.08%;
  bottom: 0;
  left: 48.69%;
}
.bali,
.group-parent5 {
  position: absolute;
  top: 353px;
  left: 25px;
  width: 388px;
  height: 239px;
}
.bali {
  top: 92px;
  left: 2px;
  width: 444px;
  height: 621px;
}
.sn-cu-lng1 {
  top: 0;
  text-transform: uppercase;
  width: 300px;
}
.cy-trm-phng,
.h4,
.sn-cu-lng1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.h4 {
  top: 145px;
  font-size: var(--font-size-5xl);
  width: 178px;
  font-family: var(--font-poppins);
}
.cy-trm-phng {
  top: 54px;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.02em;
  width: 388px;
}
.bookong-now-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
}
.borobudur {
  position: absolute;
  top: 92px;
  left: 464px;
  width: 444px;
  height: 621px;
}
.h6,
.sn-cu-lng2 {
  position: absolute;
  left: 5px;
  display: inline-block;
}
.sn-cu-lng2 {
  top: 0;
  text-transform: uppercase;
  width: 303px;
}
.h6 {
  top: 145px;
  font-size: var(--font-size-5xl);
  width: 177px;
  font-family: var(--font-poppins);
}
.booking2,
.sn-cu-lng-t-c-parent,
.star2 {
  position: absolute;
  top: 353px;
  left: 20px;
  width: 388px;
  height: 181px;
}
.booking2,
.star2 {
  top: 549px;
  left: 25.2px;
  width: 134.2px;
  height: 21px;
}
.booking2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 9.66%;
  width: 44.77%;
  top: 85.67%;
  right: 7.05%;
  bottom: 4.67%;
  left: 48.18%;
}
.thailand {
  position: absolute;
  top: 92px;
  left: 928px;
  width: 444px;
  height: 621px;
}
.nhng-sn-ni {
  margin: 0;
  position: absolute;
  top: 19px;
  left: -40px;
  font-size: inherit;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
}
.nhng-sn-ni-bt,
.popular-destination {
  position: absolute;
  top: 0;
  left: 40px;
  width: 355px;
  height: 51px;
  text-align: center;
  font-size: var(--font-size-15xl);
  font-family: var(--small-text);
}
.nhng-sn-ni-bt {
  left: 1px;
  width: 1374px;
  height: 1362px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-khula);
}
